/* body {
    text-align: center;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    background-color:purple;
}
h2 {
    color: yellow;
    font-size: 20px;
}
#image {
    height: 250px;
    display: block;
    max-width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    
}
p {
    font-family: "Courier New", Courier, monospace;
}
.tribute-link {
    font-size: 20px;
} */
  body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTrVPZJE78SxIO9lf1HkzLgRjx5NntC1BmmyuDlJgdiCqF2A12");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  

.jumbotron {
  color:blueviolet;
  text-align: center;
  background-image: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#tribute-info {
  color:rebeccapurple;
}
#tl {
  color:black;
}
#career {
  color: white;
}
#img-caption {
  color:blue;
  text-align: center;

}
#image {
  display: block;
}